#pdf-controls {
	position: fixed;
	right: 0;
	bottom: 2em; background-color : #fff;
	margin: 0.5em 2em;
	background-color: #fff;
}

#pdf-container {
	width: 100%;
}

#pdf-stats p {
	text-align: right;
}

#pdf-viewer {
	height: 100%;
	overflow: scroll;
	background-color: #ddd;
}

#pdf-viewer canvas {
	margin-bottom: 0.5em;
	margin-left: 1em;
	border: 1px #000 solid;
	background-color: #fff;
	float: left;
	clear: both;
}